.repo-count {
    box-sizing: border-box;
    font-family: "Roboto";
    color: #B2B2B2;
    background-color: #201F1F;
    padding: 12px;
    display: inline-block;
}




.repo-count .extra-info-wrapper {
    display: inline-block;
    position: relative;
    height: 20px;
    line-height: 20px;
    font-size: 20px;
    left: 50%;
    transform: translateX(-50%);
    margin-top: 10px;
}


