.extra-info {
    height: inherit;
}

.extra-info .icon-info {
    margin-right: 5px;
    height: 100%;
    vertical-align: top;
}

.extra-info span {
    font-size: 100%;
    line-height: 100%;
    height: 100%;
    align-items: center;
}