#content {
    display: flex;
    flex-direction: column;
    height: inherit;
}

#header-result-wrapper{
    height: 80px;
}

#user-info-wrapper {
    margin-top: 60px;
}

#grid-repos-wrapper {
    flex-grow: 1;
    margin-top: 100px;
}

#footer-wrapper {
    margin-top: 20px;
    height: 65px;
}