.header-result {
    height: inherit;
}

.header-container {
    height: inherit;
    box-sizing: border-box;
    padding: 15px 0;
}

.header-result .logo {
    height: 100%;
}


/* FIXME: Use the "clickable" class instead of replicate its styles */ 
.header-result .back-button {
    height: 50%;
    position: relative;
    float: right;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.header-result .back-button:hover {
    transform: scale(1.08) translateY(-46%);
}
.header-result .back-button:active {
    transform: scale(1.05) translateY(-47.5%);
}