body {
    background-color: #232324;
}

#root {
    height: 100vh;
}

.page-content-container{
    width: 80%;
    margin: auto;
}

@media(Max-width: 760px) {
    .page-content-container{
        width: 94%;
    }
}