body {
    background-color: #232324;
}

#root {
    height: 100vh;
}

.page-content-container{
    width: 80%;
    margin: auto;
}


.clickable{
    transition: transform .2s;
    cursor: pointer;
}
.clickable:hover {
    transform: scale(1.08);
}
.clickable:active {
    transform: scale(1.05);
}

@media(Max-width: 760px) {
    .page-content-container{
        width: 94%;
    }
}